<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyx.dao.UserDao">
    <sql id="common">id,username,password,nick_name,salt,token,is_deleted,gmt_create,gmt_modified</sql>
    <select id="login" resultType="com.lyx.entity.User">
        select <include refid="common"/> from acl_user
         where username = #{username}
          and password = MD5(#{password})
           and is_deleted = 0
    </select>
</mapper>